<section class="sign_in">
  <mat-card>
    <mat-card-title>Sign in</mat-card-title>
    <mat-card-content>
      <div class="signin-container">
        <div class="form-section">
          <form class="signin-form" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
            <div *ngIf="authResultStatus === 404" style="color: red">Invalid username and password.</div>
            <mat-form-field>
              <input matInput placeholder="Username*" [formControl]="loginForm.controls['username']">
              <mat-error *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].touched || hasErrors)">Username is required</mat-error>
              <mat-error *ngIf="loginForm.controls['username'].hasError('minlength') && (loginForm.controls['username'].touched || hasErrors)">Username must be at least 4 characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Password*" [formControl]="loginForm.controls['password']">
              <mat-error *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].touched || hasErrors)" [ngStyle]="{'color': 'red'}">Password is required</mat-error>
              <mat-error *ngIf="loginForm.controls['password'].hasError('minlength') && (loginForm.controls['password'].touched || hasErrors)" [ngStyle]="{'color': 'red'}">Password must be at least 4 characters long</mat-error>
            </mat-form-field>
            <button mat-button type="submit">Sign in</button>
          </form>
        </div>
        <div class="detail-section">
          <mat-list>
            <mat-list-item>
              <p><a [routerLink]="['/web/home']"><span>More</span></a> about our app.</p>
            </mat-list-item>
            <mat-list-item>
              <p>Have you a question? Please <a [routerLink]="['/web/contact']"><span>contact </span></a> us for more information.</p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
