<!-- <div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Sign In</h5>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class=" col-sm-4">
          <div *ngIf="authResultStatus === 404" class="text-danger">Invalid username and password.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
            <div class="form-group" [ngClass]="{
              'has-error': loginForm.controls['username'].invalid && hasErrors,
              'has-success': loginForm.controls['username'].valid
            }"> 
              <input type="text" class="form-control" placeholder="Username" [formControl]="loginForm.controls['username']">
              <p *ngIf="loginForm.controls['username'].hasError('required') && hasErrors" class="error text-danger">Username is required</p>
              <p *ngIf="loginForm.controls['username'].hasError('minlength') && hasErrors" class="error text-danger">Username must be at least 4 characters long</p>
            </div>
            <div class="form-group" [ngClass]="{
              'has-error': loginForm.controls['password'].invalid && hasErrors,
              'has-success': loginForm.controls['password'].valid
            }"> 
              <input class="form-control" type="password" placeholder="Password" [formControl]="loginForm.controls['password']">
              <p *ngIf="loginForm.controls['password'].hasError('required') && hasErrors" class="error text-danger">Password is required</p>
              <p *ngIf="loginForm.controls['password'].hasError('minlength') && hasErrors" class="error text-danger">Password must be at least 4 characters long</p>
            </div>
            <div class="form-group"> <button type="submit" class="btn btn-default">Login</button> </div>
          </form>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
          <ul>
            <li><a [routerLink]="['/web/home']"><span>More</span></a> about our app.</li>
            <li>Have you a question? Please <a [routerLink]="['/web/contact']"><span>contact </span></a> us for more information.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<section class="sign_in">
  <md-card>
    <md-card-title>Sign in</md-card-title>
    <md-card-content>
      <div class="signin-container">
        <div class="form-section">
          <form class="signin-form" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
            <div *ngIf="authResultStatus === 404" style="color: red">Invalid username and password.</div>
            <md-form-field> 
              <input mdInput placeholder="Username*" [formControl]="loginForm.controls['username']">
              <md-error *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].touched || hasErrors)">Username is required</md-error>
              <md-error *ngIf="loginForm.controls['username'].hasError('minlength') && (loginForm.controls['username'].touched || hasErrors)">Username must be at least 4 characters long</md-error>
            </md-form-field>
            <md-form-field> 
              <input type="password" mdInput placeholder="Password*" [formControl]="loginForm.controls['password']"> 
              <md-error *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].touched || hasErrors)" [ngStyle]="{'color': 'red'}">Password is required</md-error>    
              <md-error *ngIf="loginForm.controls['password'].hasError('minlength') && (loginForm.controls['password'].touched || hasErrors)" [ngStyle]="{'color': 'red'}">Password must be at least 4 characters long</md-error>
            </md-form-field> 
            <button md-button type="submit">Sign in</button>            
          </form>
        </div>
        <div class="detail-section">
          <md-list>
            <md-list-item>
              <p><a [routerLink]="['/web/home']"><span>More</span></a> about our app.</p>
            </md-list-item>
            <md-list-item>
              <p>Have you a question? Please <a [routerLink]="['/web/contact']"><span>contact </span></a> us for more information.</p>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </md-card-content>
  </md-card>
</section>