@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.page-content {
  background-color: rgba(182, 183, 197, 0.8);
  height: 100%;

  .content {
    padding: 5px;
    box-sizing: border-box;
  }
}