<section class="app-home-section">
  <div class="web-home-header" fxLayout fxLayoutAlign="center">
    <div fxFlex="100" fxFlexAlign="start" fxFlexFill>
      <div class="header-overlay-container" fxLayout fxLayoutAlign="center center">
        <div fxFlex style="text-align: center">
          <h2>Travel Agency</h2>
          <h3>Get your trip SIMPLER and FASTER</h3>
          <button mat-raised-button color="accent">Get now</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="account.isLogged; then loggedInTemplate else loggedOutTemplate"></div>
  <ng-template #loggedInTemplate>
    <section class="web-home-container logged-in-section">
      <div fxLayout="column">
        <div fxFlex="100">
          <button mat-raised-button (click)="logoutAccount()">Sign out</button>
        </div>
      </div>
      <div *ngIf="account.details.isEnabled; then enabledAccountTemplate else disabledAccountTemplate"></div>
      <ng-template #enabledAccountTemplate>
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="300px">
            <a mat-raised-button routerLink="/agency">Travel Agency</a>
            <div fxFlex></div>
            <a mat-raised-button routerLink="/admin">Admin</a>
          </div>
        </div>
      </ng-template>
      <ng-template #disabledAccountTemplate>
        <div fxLayout="column" fxLayoutAlign="center">
          <div fxFlex>
            <p>Your account is disabled. For more details <a routerLink="/web/contact">contact</a> us.</p>
          </div>
        </div>
      </ng-template>
    </section>
  </ng-template>
  <ng-template #loggedOutTemplate>
    <section class="web-home-container logged-out-section">
      <a mat-raised-button routerLink="/web/sign_in">Sign in</a>
    </section>
  </ng-template>
</section>
