<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-left">
      <li> 
        <a routerLink="/web"><span>HOME</span></a> 
      </li>
      <li> 
        <a routerLink="/admin/home"><span>ADMIN</span></a> 
      </li>
      <li> 
        <a routerLink="/admin/users"><span>USERS</span></a> 
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span>{{user.username}}</span>
      </li>
      <li> 
        <a class="logout"><i class="fa fa-sign-out"></i> Log out</a> 
      </li>
    </ul>
  </nav>
</div>
