<!-- <div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Home Page Web</h5>
    </div>
    <div class="ibox-content">
      <div *ngIf="account.isLogged; then loggedTemplate else loginTemplate"></div>
      <ng-template #loggedTemplate>
        <div class="col-sm-12 text-right"><a (click)="logoutAccount()">Sign out</a></div>
        <hr>
        <div *ngIf="account.details.isEnabled; then enabledTemplate else disabledTemplate"></div>
        <ng-template #enabledTemplate>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2"><a routerLink="/agency"><span>Travel Agency</span></a></div>
            <div class="col-sm-2"><a routerLink="/admin"><span>Admin</span></a></div>
          </div>
        </ng-template>
        <ng-template #disabledTemplate>
          <div class="row">
            <div class="col-sm-12">
              <p>Your account is disabled. For more details <a [routerLink]="['/web/contact']">contact</a> us.</p>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <ng-template #loginTemplate>
        <div class="row">
          <div class="col-sm-12"> Information about agency... </div>
          <hr>
          <div class="col-sm-12">
            <p>You aren't logged. You can <a [routerLink]="['/web/sign_in']"><span>sign in</span></a> for explore our app.</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div> -->
<md-toolbar color="primary"> <span>MyCompany</span> <span class="example-spacer"></span> <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>  </md-toolbar>
<md-menu #appMenu="mdMenu"> <button md-menu-item> Settings </button> <button md-menu-item> Help </button> </md-menu>