<!--
<section class="home-section">
  <mat-card>
    <mat-card-title>Home</mat-card-title>
    <mat-card-content>
      <hr>
      <div *ngIf="account.isLogged; then loggedTemplate else loginTemplate"></div>
      <ng-template #loggedTemplate>
        <div style="text-align: right;"><a class="link" (click)="logoutAccount()">Sign out</a></div>
        <hr>
        <div *ngIf="account.details.isEnabled; then enabledTemplate else disabledTemplate"></div>
        <ng-template #enabledTemplate>
          <div><a routerLink="/agency"><span>Travel Agency</span></a></div>
          <div><a routerLink="/admin"><span>Admin</span></a></div>
        </ng-template>
        <ng-template #disabledTemplate>
          <p>Your account is disabled. For more details <a [routerLink]="['/web/contact']">contact</a> us.</p>
        </ng-template>
      </ng-template>
      <ng-template #loginTemplate>
        <div> Information about agency... </div>
        <hr>
        <div>
          <p>You aren't logged. You can <a [routerLink]="['/web/sign_in']"><span>sign in</span></a> for explore our app.</p>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</section>-->
<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <div>first div</div>
  <div>second div</div>

</section>