<div id="wrapper">
  <div id="page-wrapper" class="black-bg">
    <div class="wrapper wrapper-content">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{title}}</h5>
          </div>
          <div class="ibox-content">
            <div class="row text-center">
              <a routerLink="/agency">
                <div class="col-sm-4">
                  <h4>AGENCY</h4>
                </div>
              </a>
              <div class="col-sm-4"></div>
              <a routerLink="/admin">
                <div class="col-sm-4">
                  <h4>ADMIN</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>